/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.wappfloat {
      position: fixed;
      bottom: 1.20em;
      right: 0;
      z-index: 9;
      text-align: center;
}

.wappfloat img {
      width: 4em;
}

@media screen and (max-width: 991px) {
.wappfloat {
      right: 5%;
}
}