/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.wappfloat {
      position: fixed;
      bottom: 1.5em;
      right: -20px;
      z-index: 9;
}